<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Vishal_Core::menu" title="Vishal" translate="title" module="Vishal_Core" sortOrder="10" resource="Vishal_Core::menu"/>
    </menu>
</config>
